
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.container {
  background-color: rgb(244, 245, 249);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
  padding: 24px;
}

.overviewGrid {
  display: flex;
  margin-top: 12px;
  gap: 12px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .overviewGrid {
    max-width: 100%;
  }
}
