
.header {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 40px 100px;
  font-family: Inter, sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  color: var(--Primary-Grey-grey-900, #2c2e32);
  font-size: 24px;
  font-weight: 700;
}

.filters {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: var(--Primary-Grey-grey-700, #4a4d54);
  font-weight: 400;
  justify-content: start;
  flex-wrap: wrap;
}

.filterItem {
  align-items: center;
  border-radius: 8px;
  background: var(--pure-white, #fff);
  display: flex;
  min-width: 240px;
  min-height: 36px;
  gap: 12px;
  justify-content: start;
  margin: auto 0;
  padding: 6px 10px;
  cursor: pointer;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 24px;
}

.dropdownIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 16px;
}

.filterText {
  flex: 1;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
  }

  .filters {
    max-width: 100%;
  }
}
