
.topPerformers {
  display: flex; /* Thiết lập flexbox cho container */
  flex-wrap: wrap; /* Cho phép các phần nằm trên cùng một hàng */
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
  gap: 50px; /* Thêm khoảng cách giữa các phần */

}

.section {
  flex: 1; /* Để mỗi phần chiếm không gian còn lại */
  min-width: 500px; /* Đảm bảo mỗi phần có chiều rộng tối thiểu */
  margin-top: 20px; /* Khoảng cách trên mỗi phần */
}

/* .section:first-child {
  margin-top: 0;
} */


.title {
  color: var(--Primary-Grey-grey-900, #2c2e32);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: var(--Primary-Grey-grey-500, #686d76);
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

.rankings {
  margin-top: 20px;
}

.rankItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--Primary-Grey-grey-500, #686d76);
}

.rankInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rankBadge {
  width: 32px;
  height: 32px;
}

.rankNumber {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Primary-Grey-grey-900, #2c2e32);
  font-weight: 700;
  overflow: hidden;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  object-fit: cover;
}

.name {
  color: var(--Primary-Grey-grey-500, #686d76);
}

.metric {
  color: var(--Primary-Grey-grey-500, #686d76);
}

@media (max-width: 991px) {
  .topPerformers {
    width: 100%;
  }
}
