.sidebar {
  border-right: 1px solid var(--Primary-Grey-grey-50, #f0f0f1);
  background: var(--pure-white, #fff);
  display: flex;
  max-width: 240px;
  flex-direction: column;
  overflow: hidden;
  font-family: Inter, sans-serif;
  color: var(--Primary-Grey-grey-700, #4a4d54);
  transition: max-width 0.3s ease;
}

.collapsed {
  max-width: 80px; /* Chiều rộng khi rút gọn */
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  min-height: 64px;
}

.logoText {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lists {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
}

.mainMenu {
  display: flex;
  flex-direction: column;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  gap: 12px;
  transition: background-color 0.3s ease;
}

.menuIcon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
}

.menuLabel {
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.collapsed .menuLabel {
  display: none;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
  color: var(--Primary-Grey-grey-700, #4a4d54);
}

.divider {
  aspect-ratio: 200;
  width: 200px;
  stroke-width: 1px;
  stroke: var(--Primary-Grey-grey-50, #f0f0f1);
  align-self: center;
  margin-top: 20px;
  max-width: 100%;
}

