.messageContainer {
  display: flex;
  margin-bottom: 12px;
}

.agentMessage {
  justify-content: flex-end; /* Tin nhắn gửi từ agent sẽ căn phải */
}

.userMessage {
  justify-content: flex-start; /* Tin nhắn gửi từ user sẽ căn trái */
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.messageContent {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 12px;
  font: 400 14px Inter, sans-serif;
}

/* Màu cho tin nhắn gửi đi (sent message) */
.sentMessage {
  background-color: #d1ffd1; /* Màu nền cho tin nhắn gửi */
  color: #050505; /* Màu chữ cho tin nhắn gửi */
}

/* Màu cho tin nhắn nhận được (received message) */
.receivedMessage {
  background-color: #f1f1f1; /* Màu nền cho tin nhắn nhận */
  color: #050505; /* Màu chữ cho tin nhắn nhận */
}

.attachedImage {
  max-width: 200px;
  border-radius: 12px;
}
